.input-width {
    min-width: 200px
}
.btn-size{
    width: 33px;
    height: 27px;
    font-size: 12px;
    padding: 0;
}
.datepicker-plot-area{
    font: 12px IRANSans !important;
    font-family: IRANSans !important;
}

@font-face {
    font-family: IRANSans;
    src: url(../../assets/fonts/IRANSansWeb.ttf);
  }
  

